body {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(20, 50px);
  padding: 10px;
}

.upRight {
  /* grid-column: 9 / -1;
  grid-row: 1 / 1; */
  /* grid-column-end: -1;
  grid-row-start: 1; */
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;


}

/* .upRight > img {
  opacity: 0.3;
} */

.intro {
  grid-column: 1 / end;
  grid-row: 1 / 4;
  width: 100%;
  /* display: flex; */

}

.puppy {
  grid-column: 1 / 7;
  grid-row: 4 / 7;
  width: 100%;
  max-width: 600px;
  margin-right: 20px;
}

.puppy:hover {
  display:none;
}

.skills {
  grid-column: 7 / end;
  grid-row-start: 4;
  /* padding: 10px; */
  margin-left: 20px;

}

.theRest {
  grid-column: 1 / end;
  grid-row: 12 / end;

  /* position: relative; */
  /* display: block; */

  /* display: flex;
  flex-wrap: wrap; */

  /* align-items: baseline; */
}

.bottom {
  position: fixed;
  bottom: 0px;
  display: flex;

}
