* {
  width: 20px;
  position: relative;
  right: -30px;
}
body {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

h1 {
  right: -300px;
}

h2 {
  right: 100px;
}

.footer {
  bottom: 0px;
  width: 100%;
  background-color: lightblue;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  left: 500px;
}

.lists {
  top: 110px;
  left: 750px;
}

.puppy {
  left: 300px;
}

.sun {
  z-index: 1;
  top: 0px;
  right: -370px;
}

img:hover {
  opacity: 0;
}

p:hover {
  background-color: lightblue;
}

ul:hover,
ol:hover {
  background-color: lightgrey;
}
