body {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(20, 50px);
  padding: 10px;
  color: brown;

  width: 20px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.upRight {
  top: 0%;
  right: 0%;
  position: absolute;
  z-index: 1;
}

.intro {
  position: relative;
  top: 10%;
  /* bottom: */
  left: 10%;
  /* right: */
}

.puppy {
position: relative;
top: 100%;
/* bottom: */
left: 100%;
/* right: */
/* width: 100%; */
}


.skills {
position: relative;
top: 50px;
/* bottom: */
/* left: */
right: 0px;
}

.theRest {
position: relative;
/* top: */
bottom:100px;
/* left: */
/* right: */
}

.bottom {
  /* position: fixed;
  bottom: 0px;
  display: flex; */

  position: relative;
  /* top: */
  /* bottom: 0px; */
  /* left: */
  right: 0px;
}

.puppy:hover {
  display: none;
}

.upRight:hover{
  display: none;
  width: 30%;
}

h1:hover, p:hover, h2:hover, h3:hover, h4:hover, li:hover {
  background-color: lightyellow;
  color: orange;
}
