nav {
    top:0;
    position: fixed;
    background-color: skyblue;
    z-index:10;
    width:100%;
}
.project_image {
    width: 70%;
    border-style: solid;
    border-width: 2px;
    position: relative;
}
.project_description {
    background-color: rgba(76, 175, 162, 0.8);
    position: absolute;
    bottom:5px;
    z-index: 1;
    width: 70%;
    left: 2px;
}

.project_card {
    position: relative;
    margin: 10px;
}

#skills {
    position: relative;
}
#languages {
    position: relative;
    left: 100px;
}
#libraries {
    position: relative;
    left: 300px;
}
#bugs {
    position: relative;
    left: 500px;
}
#contact > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}