nav {
    position: fixed;
    z-index: 1;
}

.project_card {
    position: relative;
}

.project_image {
    width: 700px;
    height: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.project_description {
    background-color: rgba(12, 20, 39, 0.3);
    color: white;
    position: absolute;
    z-index: 1;
}

#myBtn {
    position: fixed;
    bottom: 0;
    right: 0;
}

#sun {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0000416;
}

#skills {
    position: static;
}

#languages {
    position: relative;
    left: 10%
}

#libraries {
    position: relative;
    left: 20%;
}