body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(131, 182, 240, 0.5); 
  }

  .header {
    overflow: hidden;
    background-color: #663ff0;
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }
  img{
    border-radius: 8px;
    max-width: 320px;
    height: 180px;
  }
  #sunpic{
      position: absolute;
      z-index:5;
      top:0;
      right:0;
  }
  #project_card{
      position: absolute;
  }
  #project_image{
      padding:inherit;
  }
  #project_description{
      position: absolute;
      top:0;
      left:0;
  }
  #about{
      margin:40px;
  }
  #skills div{
    display: inline-grid;
    position: fixed;
    width:200px;
  }
  #contact ul li{
      display:inline-block;
      font-size:14px;
      color: blue;
  }
  #myBtn {
    display: block;
    position: fixed;
    z-index:1;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(6, 236, 64);
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
  }

  #myBtn:hover {
    background-color: palevioletred;
  }
  .languages{
    grid-column:1;
    grid-row: 1;
​
}
​
.programs{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
​
.bugs {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}
