nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding-top: 85px;
}
.avatar {
    width: 30%;

}

#about {
    display: flex;
    flex-direction: row;
}

.projectsCardRow {
    display: flex;
    flex-direction: column;
}
.project_card {
    border: solid black;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.project_image {
    display: block;
    width: 50%;
    height: auto;
}

.project_description {
    background-color:rgba(192,192,192,0.3);
    position: absolute;
    top: 2;
    bottom: 2;
    left: 2;
    right: 2;

}

h3 {
    color: black;
}