body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
}

.project_image {
  width: 720px;
  height: 480px;
}

.project_description {
  position: absolute;
  bottom: 0; 
  background-color: rgba(224, 71, 22, 0.81);
  width: inherit;
  color: white;
}

.project_card {
  position: relative;
  width: 720px;
  margin-bottom: 15px;
  border: 2px solid black;
}
