nav {
    position: fixed;
    z-index: 1;
    background-color: olivedrab;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
}

nav a:link {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 35px;
    text-decoration: none;
    color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a:hover {
    color: rgb(251, 251, 49);
    background-color: rgb(104, 90, 195);
}

body {
    background-image: radial-gradient(circle, rgb(0, 255, 17), rgb(86, 212, 232), rgb(0, 255, 17));
}

h1 {
    margin-top: 40px;
    font-family: cursive;
    color: red;
}

.project_card {
    position: relative;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    width: fit-content;
    margin-bottom: 15px;
    max-height: 90%;
}

.project_image {
    max-width: 100%;
}

.project_description {
    position: absolute;
    background-color: rgba(12, 20, 39, 0.3);
    color: white;
    z-index: 2;
    text-align: center;
    left: 2px;
    bottom: 2px;
    width: 100%;
}

#snowman {
    height: 380px;
    width: 500px;
}

#sun {
    position: absolute;
    right: 10px;
    z-index: 1;
}

#myBtn {
    position: fixed;
    bottom: 10vh;
    right: 3vw;
    color: aquamarine;
    background-color: crimson;
    border-radius: 5px;
}

#skills {
    position: relative;
}

#languages {
    position: relative;
    left: 10%;
    color: rgb(7, 7, 183);
}

#libraries {
    position: relative;
    left: 20%;
    color: rgb(215, 3, 38);
}

h2 {
    display: block;
    color: rgb(215, 3, 38);
    position: static;
}